* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: LavenderBlush;
  font-family: fantasy;
  margin: 0;
}

html,
body {
  height: 100%;
}

nav {
  display: flex;
  width: 100%;
  top: 0px;
  background: mistyrose;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 40px;
  font-size: 25px;
  padding: 0 50px;
}

#logo {
  display: flex;
  inline-size: auto;
}

.header {
  text-align: center;
  padding-top: 450px;
  padding-bottom: 100px;
  line-height: 100px;
  font-family: fantasy;
  font-size: 25px;
}

.welcome {
  font-size: 50px;
}

.whead {
  font-size: 40px;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 25px;
  line-height: 30px;
}

a:hover {
  background-color: wheat;
  color: steelblue;
}
.container {
  margin-top: 200px;
  display: grid;
  grid-template-rows: 5vw 30vw 30vw 30vw 5vw;
  grid-template-columns: 5vw 30vw 30vw 30vw 5vw;
  column-gap: 40px;
  row-gap: 50px;
}

.content {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: start;
}

.content1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  /* padding: 100px 100px; */
}

.content2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  /* padding: 100px 100px; */
}

.gridimg {
  height: 50vh;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border-radius: 35px;
}

#image {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  /* margin-left: -230px; */
}

#image3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#image2 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  /* margin-left: -230px; */
}

footer {
  background-color: mistyrose;
  padding: 30px 0;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > span {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  margin-right: 30px;
  margin-top: 25px;
  color: black;
}

.vhead {
  margin-top: 250px;
  text-align: center;
  line-height: 100px;
}

.videos {
  text-align: center;
  display: flex;
}

.video1 {
  display: flex;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 150px;
  border-radius: 35px;
}

.video2 {
  display: flex;
  margin-top: 100px;
  margin-right: 50px;
  margin-bottom: 150px;
  margin-left: 50px;
  border-radius: 35px;
}
.video3 {
  display: flex;
  margin-top: 100px;
  margin-bottom: 150px;
  margin-right: 100px;
  border-radius: 35px;
}
.ihead {
  text-align: center;
  line-height: 100px;
  margin-bottom: 100px;
}

.img1 {
  border-radius: 35px;
  margin: 0 40px;
  margin-bottom: 70px;
}

.img3 {
  border-radius: 35px;
  margin-bottom: 70px;
}
.img2 {
  border-radius: 35px;
  margin-bottom: 70px;
  margin-left: 30px;
}
.img4 {
  border-radius: 35px;
  margin-bottom: 70px;
  margin-left: 40px;
}
.shead {
  text-align: center;
  line-height: 100px;
  margin-bottom: 60px;
}
.sentences {
  font-size: 22px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 70px;
}
.ourstory {
  margin-top: 250px;
  text-align: center;
  line-height: 100px;
  margin-bottom: 50px;
}
.ourteam {
  margin-top: 200px;
  text-align: center;
  line-height: 100px;
  margin-bottom: 50px;
}
.imgs {
  text-align: center;
  align-content: center;
}
.img6 {
  border-radius: 35px;
  margin-right: 50px;
  margin-left: 150px;
  margin-bottom: 50px;
}
.img6:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 2s;
}
.img7 {
  border-radius: 35px;
  margin-bottom: 50px;
}
.img7:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 2s;
}
.img8 {
  border-radius: 35px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.img8:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 2s;
}
.img9 {
  border-radius: 35px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 150px;
}
.img9:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 2s;
}
.needs {
  margin-top: 100px;
  text-align: center;
  line-height: 100px;
  margin-bottom: 50px;
}
.equipment {
  font-size: 25px;
}

h2 {
  font-size: 30px;
}

.chead {
  font-size: 70px;
  text-align: center;
  padding-bottom: 300px;
  padding-top: 450px;
  color: black;
}

.icon-bar {
  flex-direction: row;
  align-self: center;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 45px;
}

.icon-bar a {
  width: 10%;
  flex-direction: row;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 50px;
  border-radius: 50px;
  margin-bottom: 50px;
}

.icon-bar a:hover {
  background-color: lightpink;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  font-size: large;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-github {
  background: #000;
  color: white;
}

.fa-instagram {
  background: #bb0000;
  color: white;
}

.content {
  /* margin-left: 75px; */
  font-size: 30px;
}

.start {
  text-align: center;
  padding-top: 150px;
  font-size: 50px;
}
.form {
  text-align: center;
  padding-top: 50px;
  font-size: 35px;
  background-color: white;
  color: black;
  margin: 50px 500px;
}

#gender {
  font-size: 20px;
  width: 40px;
  height: 35px;
}

#comments {
  font-size: 20px;
}
#submit {
  font-size: 40px;
  background-color: papayawhip;
  margin-bottom: 60px;
  font-family: fantasy;
  padding: 20px;
  border-radius: 35px;
}
#name {
  font-size: 25px;
}
#submit:hover {
  background-color: lightpink;
  color: white;
  animation-name: submit;
  animation-duration: 5s;
}
@keyframes submit {
  100% {
    background-color: #3b5998;
  }
}
@media all and (max-width: 1200px) {
  nav {
    flex-direction: column;
    position: relative;
  }
  .header-img {
    height: 20vw;
  }
  .vhead {
    padding-top: 150px;
  }

  .form {
    width: 100%;
    text-align: center;
  }
  .sec {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .icons {
    width: 100%;
    text-align: center;
  }
  .container {
    margin-top: 200px;
    display: grid;
    grid-template-rows: 30vw 30vw 30vw;
    grid-template-columns: 5vw 40vw 40vw 5vw;
    column-gap: 10px;
    row-gap: 10px;
  }

  .content {
    grid-column: 2/4;
    grid-row: 1/3;
    justify-self: start;
  }

  .content1 {
    grid-column: 2/3;
    grid-row: 2/3;
    /* padding: 100px 100px; */
  }

  .content2 {
    grid-column: 2/3;
    grid-row: 3/4;
    /* padding: 100px 100px; */
  }
  #image {
    grid-column: 4/4;
    grid-row: 1/2;
    margin-left: -230px;
    width: 33vw;
  }

  #image3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  #image2 {
    grid-column: 3/4;
    grid-row: 3/4;
    /* margin-left: -230px; */
  }
}
